.contenedorp{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.contenedorp .contenedor__comic{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 350px;
   height: 360px;
   background: #ff0000;
   border: solid 2px #000000;
   border-radius: 20px;
   transition: 0.5s;
}
 .contenedorp .contenedor__comic:hover{
    height: 900px;
 }
 .contenedorp .contenedor__comic .img{
    position: absolute;
    width: 200px;
    height: 220px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
 }
 .contenedorp .contenedor__comic:hover .img{
    top: -100px;
    scale: 0.75;
 }
 /* .contenedorp .contenedor__comic:hover .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 } */
 .contenedorp .contenedor__comic .contenedor_contenido{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
 }
 .contenedorp .contenedor__comic:hover .contenedor_contenido{
    top: 190px;
    height: 490px;
 }
 .paginacion{
   background: #ff0000;
 }
 .paginacion_lista{
   display: flex;
   justify-content: space-between;
   padding: 15px 15px;
 }
 .paginacion_lista li{
   list-style-type: none;
 }
 .paginacion_lista li a{
   color: #000000;
   text-decoration: none;
   font-size: 20px;
 }
 .paginacion_lista li a:hover{
   color: #ffffff;
 }
 /* .footer{
   background: #ff0000;
 }
 .footer ul li{
   text-align: center;
 } */
 .boton__marvel{
    border: solid 1px #ffffff;
    background: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}
.boton__marvel:hover{
    border: solid 1px #000000;
    background: #c43030;
    color: #000000;
}
